<app-card-ad></app-card-ad>

<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="129,99"
  >
  </app-card>



  <app-card
      gameCover="assets/bt-hardline.jpg"
      gameLabel="NEW"
      gameType="DIGITAL |PS3 PS4 PS5"
      gamePrice="269,99"
    >
  </app-card>

  <app-card
      gameCover="assets/ac-cover.jpg"
      gameLabel="BEST OF YEAR"
      gameType="DIGITAL | PS5"
      gamePrice="369,99"
    >
  </app-card>
  <app-card
      gameCover="assets/bt-5.jpg"
      gameLabel="EXCLUSIVO"
      gameType="DISC | PS5"
      gamePrice="269,99"
    >
  </app-card>

  <app-card
  gameCover="https://image.api.playstation.com/pr/bam-art/164/922/4dc02297-21bb-48f7-856e-b21be01c6d64.png?w=440&thumb=false"
  gameLabel="EXCLUSIVO"
  gameType="DISC | PS5"
  gamePrice="269,99"
  >
  </app-card>
  <app-card
  gameCover="https://image.api.playstation.com/pr/bam-art/165/103/7461ff33-dd39-4312-b041-461d086f96cc.png?w=440&thumb=false"
  gameLabel="EXCLUSIVO"
  gameType="DISC | PS5"
  gamePrice="269,99"
  >
  </app-card>

    <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/148/722/651dbb59-7d61-448c-ac74-512fb8d3d080.jpg?w=440&thumb=false"
    gameLabel="EXCLUSIVO"
    gameType="DISC | PS5"
    gamePrice="269,99"
  >
  </app-card>

  <app-card
  gameCover="https://image.api.playstation.com/pr/bam-art/164/584/7db030a8-7ef6-4eed-9865-62e210332c46.jpg?w=440&thumb=false"
  gameLabel="EXCLUSIVO"
  gameType="DISC | PS5"
  gamePrice="269,99"
  >
  </app-card>



</div>
