<div class="sony-bar">
  <div class="sony-bar-logo">
    <img src="https://www.playstation.com/etc.clientlibs/global_pdc/clientlibs/clientlibs-jetstream/resources/assets/fonts/sony_logo.svg" alt="" height="36px">
  </div>
</div>

<div class="menu-bar__content" (scroll) ="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'" >
  <div class="menu-bar__logo">
    <img
      src="https://static-00.iconduck.com/assets.00/playstation-icon-2048x1665-icu9gzjj.png"
      alt="logo playstation"
      srcset=""
      width="30px"
      height="20px"
    >
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://br.linkedin.com/in/jo%C3%A3o-henrique-vidal-ribeiro-67646526a" target="_blank">LINKEDIN</a></li>
      <li><a href="https://github.com/Joaohvr1" target="_blank">GITHUB</a></li>
    </ul>
  </div>

</div>
